{% extends 'base.html' %}
{% block title %}Recuperação de Senha{% endblock %}

{% block content %}
<div class="container mt-5">

    {% if view_name == 'password_reset' %}
        <h2>Recuperar Senha</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enviar E-mail</button>
        </form>

    {% elif view_name == 'password_reset_done' %}
        <h2>Email enviado</h2>
        <p>Verifique sua caixa de entrada para redefinir sua senha.</p>

    {% elif view_name == 'password_reset_confirm' %}
        <h2>Nova Senha</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Alterar Senha</button>
        </form>

    {% elif view_name == 'password_reset_complete' %}
        <h2>Senha alterada com sucesso!</h2>
        <p>Você pode agora <a href="{% url 'users:login' %}">fazer login</a>.</p>
    {% endif %}

</div>
{% endblock %}
